// buttons

.btn-lg {
  margin-bottom: 1px;
  border-radius: 10px;
  border-top: 1px solid #000;
  border-right: 2px solid #222;
  border-bottom: 2px solid #222;
  border-left: 1px solid #000;
}

.btn-def {
  font-size: 15px;
  margin-bottom: 1px;
  border-radius: 10px;
  border-top: 1px solid #000;
  border-right: 2px solid #222;
  border-bottom: 2px solid #222;
  border-left: 1px solid #000;
}

.btn-success {
background: rgba(0,0,0,0.5);
background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.5)));
background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
border: 1px solid #000;
}

.btn-primary {
color: #fff;
@include black-grade-fancy;
border-color: #333;

}

.btn-primary:hover {
    color: #ccc;
    @include black-grade-fancy;
    border-color: #222;
}

.btn-primary:focus, .btn-primary.focus {
    color: #ccc;
    background-color: black-grade-trs;
    border-color: #000;
}

.btn-danger {
background: rgba(248,80,50,0.75);
background: -moz-linear-gradient(top, rgba(248,80,50,0.75) 0%, rgba(241,111,92,0.75) 0%, rgba(231,56,39,0.75) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,0.75)), color-stop(0%, rgba(241,111,92,0.75)), color-stop(100%, rgba(231,56,39,0.75)));
background: -webkit-linear-gradient(top, rgba(248,80,50,0.75) 0%, rgba(241,111,92,0.75) 0%, rgba(231,56,39,0.75) 100%);
background: -o-linear-gradient(top, rgba(248,80,50,0.75) 0%, rgba(241,111,92,0.75) 0%, rgba(231,56,39,0.75) 100%);
background: -ms-linear-gradient(top, rgba(248,80,50,0.75) 0%, rgba(241,111,92,0.75) 0%, rgba(231,56,39,0.75) 100%);
background: linear-gradient(to bottom, rgba(248,80,50,0.75) 0%, rgba(241,111,92,0.75) 0%, rgba(231,56,39,0.75) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );

}

.btn-warning {
color: #222;
background: rgba(241,231,103,1);
background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0 );
}
